@import '../variables/index';
@import '../mixins/index';

body {
  font-family: $defaultFont;
  font-size: 16px;
  color: $greyPrimary;

  @include tabletPortrait {
    font-size: 14px;
  }
}

a {
  color: $greenPrimary;
  text-decoration: none;
}

button,
input,
textarea {
  @include on-event {
    outline: none;
  }
}

button {
  cursor: pointer;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.error {
  display: flex;
  margin-top: 5px;
  font-weight: 400;
  color: $errorColor;
}

.serverError {
  border: 1px solid #cc0000;
  padding: 10px 20px 18px;
  border-radius: 10px;
  margin: 15px 0;
}

.mainWrapper {
  padding: 0 30px;
}

.mainTitle {
  text-align: center;
  font-size: 36px;

  @include mobileLarge {
    font-size: 24px;
  }
}

.flex {
  display: flex;
}
