$desktopMediumBreakpoint: 90em; // 1440px
$desktopSmallBreakpoint: 80em; // 1280px
$tabletLandscapeBreakpoint: 64em; // 1024px
$tabletPortrait: 48em; // 768px
$mobileLargeBreakpoint: 30em; // 480px
$mobileSmallBreakpoint: 20em; // 320px
