@import '../../assets/styles/imports';

.paginationWrapper {
  justify-content: flex-end;
  padding: 10px;
}

.customLink {
  display: flex;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
}

.customActiveLink {
  color: $white;
}

.arrow {
  color: #303030;
}

.arrowDisabled {
  cursor: default;
  opacity: .5;
}

.activePage {
  background-color: $greenPrimary;
}

.listStyle {
  list-style: none;
}
