@import '../../assets/styles/imports';

$btnPath: '../../assets/styles/composers/_buttons.scss';

.mainTitle {
  font-weight: 400;
  margin-bottom: 50px;
}

.usersWrapper {
  width: 100%;
  border-spacing: 0;
}

.headers,
.userList {
  line-height: 50px;
  text-indent: 20px;
}

.headers {
  background-color: $greenPrimary;
  color: $white;
}

.headerLabels {
  text-align: center;
  text-indent: 0;

  &:nth-last-of-type(5),
  &:nth-last-of-type(6),
  &:nth-last-of-type(7),
  &:nth-last-of-type(8) {
    text-align: initial;
    text-indent: 20px;
  }
}

.userRow {
  td {
    border-bottom: 1px solid $grey;
  }

  &:hover {
    background-color: $greyLight;
  }
}

.userEditBtn,
.userDeleteBtn {
  composes: editBtn from $btnPath;
}

.usersPerPage {
  margin-top: 20px;
}

.editWrapper,
.deleteWrapper,
.noContent,
.hasContent:nth-last-of-type(3),
.hasContent:nth-last-of-type(4) {
  text-align: center;
  text-indent: 0;
}
