@import '../../assets/styles/imports';

$btnPath: '../../assets/styles/composers/_buttons.scss';
$positioningPath: '../../assets/styles/composers/_positioning.scss';

.accountWrapper {
  justify-content: center;

  @include tabletPortrait {
    flex-direction: column;
  }
}

.backBtn {
  composes: secondaryBtn from $btnPath;
}

.backDisabled {
  composes: secondaryDisabled from $btnPath;
}

.userMainInfo,
.accountWrapper > form {
  @include tabletPortrait {
    margin: 0 auto;
    width: 203px;
  }
}

.userMainInfo {
  padding-right: 100px;

  @include tabletPortrait {
    padding: 0;
  }
}

.accountBtnWrapper {
  justify-content: space-between;
  padding-top: 10px;
}

.accountMainBtn {
  composes: primaryBtn from $btnPath;
}
