@mixin icon-content($img-url) {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  background: $img-url no-repeat center;
  background-size: cover;
}

@mixin hide-content($width, $height, $color) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  display: flex;
  background-color: $color;
  z-index: 1;
}
