@import '../../assets/styles/imports';

.navBarWrapper {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  margin-bottom: 50px;

  h2 {
    font-weight: 400;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    color: $black;
    margin-left: 20px;
  }
}

.activeLink {
  font-weight: 600;
  color: $greenPrimary;
}
