@import '../../assets/styles/imports';

.navBarWrapper {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  margin-bottom: 50px;
}

.navTitle {
  font-weight: 400;
}

.inactive {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  color: $greyPrimary;

  @include on-event {
    color: $greenPrimary;
  }
}

.logOut {
  border: 0;
  background-color: transparent;
}

.active {
  color: $greenPrimary;
}
